body {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: #f2f2f2;
}

.slider {
    display: flex;
    flex-direction: column;
    max-width: 80%;
    overflow: hidden;
}

.slides {
    display: flex;
    width: 500%;
    justify-content: center;
    align-items: center;
    transition: transform 0.8s ease-out;
}

.slide {
    flex: 0 0 20%;
    text-align: center;
    max-width: 100%;
    height: auto;
}

.slide img {
    max-width: 100%;
    object-fit: contain;
}

.navigation {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    margin: 10px 0 10px auto;
    max-width: fit-content;
    justify-content: center;
}

label {
    cursor: pointer;
    width: 15px;
    height: 15px;
    background-color: #71abfe;
    border-radius: 50%;
    margin: 0;
    transition: background-color 0.3s ease-out;
    border: solid 5px #f2f2f2;
}

#slide1:checked ~ .slides {
    transform: translateX(0);
}

#slide2:checked ~ .slides {
    transform: translateX(-20%);
}

#slide3:checked ~ .slides {
    transform: translateX(-40%);
}

#slide4:checked ~ .slides {
    transform: translateX(-60%);
}

#slide5:checked ~ .slides {
    transform: translateX(-80%);
}

#slide1:hover ~ .navigation label[for="slide1"],
#slide2:hover ~ .navigation label[for="slide2"],
#slide3:hover ~ .navigation label[for="slide3"],
#slide4:hover ~ .navigation label[for="slide4"],
#slide5:hover ~ .navigation label[for="slide5"] {
    background-color: #000;
}

#slide1:checked ~ .navigation label[for="slide1"],
#slide2:checked ~ .navigation label[for="slide2"],
#slide3:checked ~ .navigation label[for="slide3"],
#slide4:checked ~ .navigation label[for="slide4"],
#slide5:checked ~ .navigation label[for="slide5"] {
    cursor: auto;
    width: 12px;
    height: 12px;
    margin-left: 5px;
    margin-top: 5px;
    background-color: #f2f2f2;
    border: solid 2px #71abfe;
}

input[type="radio"] {
    display: none;
}

